@tailwind base;
@tailwind components;
@tailwind utilities;

.hoverText {
    transition:
      0.35s font-weight,
      0.35s color;
  }
  
  .hoverText:hover {
    font-weight: 900;
    color: rgb(238, 242, 255);
  }
  
  /* To the right */
  .hoverText:hover + .hoverText {
    font-weight: 500;
    color: rgb(255,20,147);
  }
  
  .hoverText:hover + .hoverText + .hoverText {
    font-weight: 300;
  }
  
  /* To the left */
  .hoverText:has(+ .hoverText:hover) {
    font-weight: 500;
    color: rgb(255,20,147);
  }
  
  .hoverText:has(+ .hoverText + .hoverText:hover) {
    font-weight: 300;
  }
/* *
  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    width: 1400px;
    margin: 20px auto;
    columns: 3;
    column-gap: 40px;
  } */
  .my-masonry-grid {
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style for the individual item in the grid */
  .my-masonry-grid_column > div {
    margin-bottom: 30px;
  }
  
